@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: rubik;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background-color: rgb(179, 197, 177);
}

/* Navbar */
nav {
  display: flex;
  background: rgb(209, 228, 209);
  height: 3em;
}

nav span {
  margin: auto 0;
  padding-left: 2.5em;
  font-weight: bold;
  font-size: 2em;
}
nav ul {
  display: flex;
  margin-left: auto;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  padding-right: 10em;
}

/* Bujo container */
.bujo-container {
  width: 1800px;
  justify-content: center;
  margin: 0 auto;
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.bujo-container h1 {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

/* Weekly container */
.week-container {
  display: flex;
}

.daily-container {
  border-radius: 0.5em;
  margin: 0.5rem;
  width: 18em;
  position: relative;
  background-color: rgb(255, 255, 255);
}

/* Tasks */
.tasks {
  height: 28em;
  border-top: 3.5px solid rgba(224, 221, 221, 0.671);
}

.tasks ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.daily-container .task-list {
  height: calc(28em - 35px);
}

.task-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.task {
  display: flex;
  margin: 0.3rem;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(202, 190, 190, 0.644);
  text-align: left;
}

.todo-item {
  width: 75%;
  word-wrap: break-word;
}

.task i {
  color: rgba(12, 12, 12, 0.301);
}

.complete-btn {
  margin-left: 0.3rem;
}
.delete-btn {
  margin-left: auto;
  margin-right: 0.3rem;
}

.completed {
  text-decoration: line-through;
}

.todo-item {
  margin-left: 0.3rem;
}

/* Task input container */
.tasker {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  height: 35px;
}

.task-input {
  flex: 1;
  border: none;
  background-color: rgba(207, 201, 201, 0.37);
  font: inherit;
  padding: 0.6rem;
}

.task-input:focus {
  outline: none;
}

.task-input:focus::placeholder {
  color: transparent;
}

.btn-add > * {
  pointer-events: none;
}

.btn-add {
  cursor: pointer;
  background: rgba(100, 109, 98, 0.993);
  border: none;
  border-bottom-right-radius: 0.5em;
  width: 45px;
  transition: 150ms ease-in-out;
}

.btn-add:hover {
  background: rgba(110, 119, 110, 0.87);
  transition: 150ms ease-in-out;
}

.btn-add i {
  color: white;
}

.todo .complete-btn {
  border: none;
  background: none;
  margin-left: auto 0;
}

/* Footer Container */
.footer-container {
  display: flex;
}

.extras-container .task-list {
  height: calc(13em - 28px);
}

.extras-container {
  border-radius: 0.5em;
  margin: 0.5rem;
  flex: 1;
  height: 18em;
  padding-bottom: 10rem;
  position: relative;
  background-color: #fff;
}

/* Buttons */

.complete-btn,
.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-clear {
  font: inherit;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background: none;
  border: 2px solid white;
  border-radius: 0.5em;
  padding: 0.4em 0.8em;
  margin-top: 2.5em;
  transition: 200ms ease-in-out;
}

.btn-clear:hover {
  background-color: rgb(216, 62, 62);
  border: 2px solid rgb(216, 62, 62);
  transition: 200ms ease-in-out;
  cursor: pointer;
}
